.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container {display: flex; flex-direction: column; }
#ftc-harvest {display: flex; flex-direction: row;  }
.columnDiv {display: flex; flex-direction: row;  }

input {
  display: block;
  margin-bottom: 12px;
}
p >span {font-weight: 700; color: #2196f3;}
.form-group{ margin: 5px 10px;flex: 1 0 auto}
.form-group1{ margin: 5px 10px;flex: 0 1 250px}
form {text-align: left;}
label {font-weight: 700; color: #2196f3;}
h1 {color: #2196f3;}
h2 {color: #0e45ac;}
button {margin-right: 8px;}